.matches {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.left-team {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-team .team-logo {
    width: 120px;
    z-index: 1;
}

.left-team .team-logo img {
    width: 175px;
}

.left-team .team-info {
    width: 300px;
    z-index: .9;
}

.left-team .team-info .team-name {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    background:linear-gradient(to right,rgba(164, 3, 164, 0.425),rgba(0, 191, 255, 0.315));
    border-top-right-radius: 50px;
}

.left-team .team-info .team-name h2 {
    width: 195px;
    margin-left: auto;
    font-size: 22px;
    color:#ffffffe0;
}

.left-team .team-info .group-counter {
    display: flex;
    justify-content: center;
}


.left-team .team-info .group-counter {
    margin-top: -2%;
}

.left-team .team-info .group-counter button{
    width: 170px;
    height: 40px;
    font-size: 11px;
    color: #ffff;
    font-weight: bold;
    border-bottom-left-radius: 40px;
    border: none;
    background: linear-gradient(-30deg, rgba(74, 180, 222, 0.799) 30%, rgba(222, 6, 132, 0.881));
    box-shadow: 0 0 4px rgb(100, 252, 252);
    margin-left: 8%;
    color:#ffffffc5;
}



.right-team {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-team .team-logo {
    width: 100px;
    
}

.right-team .team-logo img {
    width: 175px;
    margin-left: -69%;
}

.right-team .team-info {
    width: 900px;
    z-index: .9;
}

.right-team .team-info .team-name {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    background:linear-gradient(to right,rgba(164, 3, 164, 0.425),rgba(0, 191, 255, 0.315));
    border-top-left-radius: 50px;
}

.right-team .team-info .team-name h2 {
    width: 190px;
    margin: auto;
    font-size: 22px;
    color:#ffffffe0;
}

.right-team .team-info .group-counter {
    display: flex;
    justify-content: center;
}


.right-team .team-info .group-counter {
    margin-top: -2%;
}

.right-team .team-info .group-counter button{
    width: 170px;
    height: 40px;
    font-size: 11px;
    color: #ffff;
    font-weight: bold;
    border-bottom-right-radius: 40px;
    border: none;
    background: linear-gradient(-30deg, rgba(74, 180, 222, 0.799) 30%, rgba(222, 6, 132, 0.881));
    box-shadow: 0 0 4px rgb(100, 252, 252);
    margin-left: 8%;
    color:#ffffffc5;
    z-index: 1;
}

.match-start {
    text-align: center;
}

.match-start h2 {
    font-size: 45px;
}

.match-start h3{
    font-size: 11px;
    color: #ffffffbd;
    margin-bottom: 7%;
}

.match-start div{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#match-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}