.tournament{
    color: #ffff;
}

.tournament-info {
    padding: 5% 0;
    text-align: center;
}

.tournament-info div {
    width: 450px;
    margin: auto;
}

.tournament-info h4{
    margin-bottom: 2%;
}

.tournament-info h1{
    margin-bottom: 2%;
    font-size: 35px;
}

.tournament-info h1 span {
    color: rgb(128, 0, 128);    
}

.tournament-info h5{
    color: rgba(255, 255, 255, 0.597);
    margin-bottom: 2%;
    font-size: 14px;
}


.tournament-matchs-container{
    width: 65%;
    margin: auto;
}


