.home{
    width: 100%;
    height: 100vh;
    color: #ffff;
    padding-top: 4.3%;
}


.home-title {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items:end;
    animation: homeTitleAni 1s ease-in-out 1;
}

@keyframes homeTitleAni {
    0%{
        opacity: 0;
    }40%{
        opacity: 0;
    }
}

.home-title-flex{
    width: 500px;
    /* width: 37%; */
    margin: 0 auto;
    text-align: center;
    padding: 3% 0;
}

.home-title-flex h4 {
    letter-spacing: 5px;
    margin-bottom: 3%;
}

.home-title-flex h1 {
    font-size: 45px;
    margin-bottom: 3%;
}

#join-button {
    width: 125px;
    height: 35px;
    color: #ffff;
    background: linear-gradient(-30deg, rgb(74, 180, 222), rgb(222, 6, 132));
    border-top-right-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#join-button:hover {
    transition: 0.4s;
    opacity: 0.7;
}

.home-hero-bg {
    width: 100%;
    text-align: center;
}

#banner-style-bg{
    width: 1200px;
    height: 300px;
    border-bottom: 3px solid purple;
    animation: heroBgAni 1s ease-in-out 1;
}

@keyframes heroBgAni {
    0%{
        padding-top: 100%;
    }
}



