.contact {
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffff;
    padding: 8% 0;
}

.contact-container {
    width: 70%;
    margin: auto;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Responsive */

@media screen and (max-width:1070px) {

    .contact {
        margin-bottom: 14%;
    }
        
    .contact-flex {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width:768px) {
    .contact {
        margin-bottom: 30%;
        
    }
}


@media screen and (max-width:501px){
    .contact-container {
        width: 100%;
    }
}
