.useful-links {
    width: 24%;
}

.useful-links-title {
    font-size: 19px;
    padding: 1% 0;
    margin-bottom: 4%;
}

.useful-links-title h5 {
    margin-bottom: 1%;
}

.useful-links-title div {
    width: 25%;
    height: 3px;
    background-color: rgb(202, 6, 202);
    border-radius: 10px;
}

.useful-links nav li {
    margin-bottom: 4%;
}

.useful-links nav li a {
    color: #ffffffd0;
}