.news-card {
    width: 31%;
    height: 470px;
    background-color: rgb(20, 20, 46);
    border-radius: 5px;
}

.news-card-animation {
    animation: cardAni 1s ease-in-out 1;
}

@keyframes cardAni {
    0% {
        opacity: 0;
        transform: translate(0, 30px);
    }
}

.news-card img {
    width: 100%;
    border-radius: 5px;
    z-index: 1;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}

.card-date,
.card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-weight: bold;
}

.card-header #date-icon {
    color: rgb(141, 0, 141);
}

.card-body {
    padding: 2% 4%;
}

.card-body h3 {
    font-size: 21px;
    margin-bottom: 2%;
}


.card-body h5 {
    font-size: 13px;
    line-height: 25px;
    color: #ffffff92;
}

.card-more {
    width: 115px;
    padding: 3% 4%;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.card-more #dash-icon {
    width: 20px;
    height: 20px;
    color: rgb(141, 0, 141);
}

.dash-icon {
    transform: rotate(-90deg);
    animation: dashIconAni .5s ease 1;
}

@keyframes dashIconAni {
    0% {
        transform: rotate(0deg);
    }
}

.card-more span {
    font-size: 11px;
    font-weight: bold;
}

.more {
    text-align: center;
    animation: moreAni .5s ease 1;
}

@keyframes moreAni {
    0% {
        opacity: 0;
    }
}

.more h4 {
    color: #ffffff92;
}

/* Responsive */

@media screen and (max-width:1070px) {
    .news-card {
        width: 400px;
        height: 550px;
    }

    .card-more {
        width: 120px;
    }
}