* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  background-image: url("../public/images/body-bg.jpg");
}

@media screen and (max-width:900px) {
  body {
    background-position: top;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* رنگ پس زمینه اسکرول بار */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ff00cc 0%, #3333ff 100%); /* رنگ اسکرول بار */
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #ff00cc 0%, #6600ff 100%); /* رنگ اسکرول بار هنگام هاور */
}
